coa_draft2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:coa="http://courseweb.lis.illinois.edu/~jdbeebe2/coa/heraldry.xsd"
    elementFormDefault="unqualified">
    <xsd:element name="COA">
        <xsd:complexType>
            <xsd:choice maxOccurs="unbounded" minOccurs="0">
                <xsd:element name="Shield">
                    <xsd:complexType>
                        <xsd:choice maxOccurs="unbounded" minOccurs="0">

                            <xsd:element name="Shape"/>
                            <xsd:element name="Heraldic_Charges"/>

                            <xsd:element name="Division">
                                <xsd:complexType>
                                    <xsd:choice maxOccurs="unbounded" minOccurs="0">

                                        <xsd:element name="Quartering">
                                            <xsd:complexType>
                                                <xsd:sequence>

                                                  <xsd:element name="First_quarter"
                                                  type="DivisionInfo"> </xsd:element>

                                                  <xsd:element name="Second_quarter"
                                                  type="DivisionInfo"> </xsd:element>

                                                  <xsd:element name="Third_quarter"
                                                  type="DivisionInfo"> </xsd:element>

                                                  <xsd:element name="Fourth_quarter"
                                                  type="DivisionInfo"> </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>

                                        <xsd:element name="FullShield" type="DivisionInfo"/>
                                        <xsd:element name="Impalement">
                                            <xsd:complexType>
                                                <xsd:sequence>

                                                  <xsd:element name="Sinister" type="DivisionInfo"> </xsd:element>
                                                  <xsd:element name="Dexter" type="DivisionInfo">
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:choice>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="Escutcheon_of_pretense"/>
                            <xsd:element name="Cadency_marks"/>
                            <xsd:element name="Marks_of_illegitimacy">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="present"/>
                                        <xsd:enumeration value="absent"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="Baronets"/>
                            <xsd:element name="Augmentation"/>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Coronet" type="Coronet"> </xsd:element>

                <xsd:element name="Helm" type="Helm"> </xsd:element>

                <xsd:element name="Crest" type="Crest" maxOccurs="unbounded"> </xsd:element>

                <xsd:element name="Supports" type="Supports"> </xsd:element>

                <xsd:element name="Ownership" type="Ownership"/>
                <xsd:element name="Motto">
                    <xsd:complexType>
                        <xsd:choice maxOccurs="unbounded">
                            <xsd:element name="Text">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="lang"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Translation" type="xsd:string"/>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>

            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Helm">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Rank" type="xsd:string"/>
            <xsd:element name="VisorType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="open"/>
                        <xsd:enumeration value="closed"/>
                        <xsd:enumeration value="barred"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="HelmOrientation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="full_frontal"/>
                        <xsd:enumeration value="profile"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Coronet">
        <xsd:all minOccurs="0">
            <xsd:element minOccurs="0" name="Rank" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StraberryLeaves" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Pearls" type="xsd:int"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="DivisionInfo">
        <xsd:all minOccurs="0">
            <xsd:element name="Charges" type="Ordinary"/>
            <xsd:element name="Background" type="Ordinary"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Crest">
        <xsd:all>
            <xsd:element minOccurs="0" name="Device" type="xsd:string"/>
            <xsd:element name="TopOfHelm">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="wreath"/>
                        <xsd:enumeration value="cap_of_maintenance"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Supports">
        <xsd:all minOccurs="0">
            <xsd:element name="Figure">
                <xsd:complexType>
                    <xsd:choice maxOccurs="unbounded" minOccurs="0">
                        <xsd:element name="Type" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="BodyPart"
                            type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Color"
                            type="xsd:string"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Side">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="sinister"/>
                        <xsd:enumeration value="dexter"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Ordinary">
        <xsd:sequence>
            <xsd:element name="Color" type="xsd:string"/>
            <xsd:element name="Type" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Charge">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="Type"
                            type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Amount"
                            type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="Color"
                            type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Position"
                            type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="IsPierced">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="Yes"/>
                                    <xsd:enumeration value="No"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Field">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Color" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Charge" type="Charge"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="Charge">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Type" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Amount" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="Color" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Position" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="IsPierced">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Yes"/>
                        <xsd:enumeration value="No"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Ownership">
        <xsd:sequence>
            <xsd:element name="FamilyName" type="xsd:string"/>
            <xsd:element name="Country" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
